body {
    margin: 1000;
    padding: 0;
    background-image: url("Captura\ de\ pantalla\ \(26\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
